@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark: #050505;
  --white: #ffffff;
  --orange: #db6d2d;
  --gray-light: #e5e7eb;
  --gray-mid: #9ca3af;
  --gray-dark: #374151;
}

.bg-dots {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: 20px 20px;
  color: rgba(255, 255, 255, 0.1);
}

.mozilla{
  font-family: "Mozilla Headline", sans-serif;
}

@keyframes scroll {
  100% { transform: translateX(-50%); }
  0% { transform: translateX(0%); }
}

.animate-scroll {
  display: inline-flex;
  animation: scroll 30s linear infinite;
  will-change: transform;
}

@keyframes scroll-reverse {
  100% { transform: translateX(0%); }
  0% { transform: translateX(-50%); }
}

.animate-scroll-reverse {
  display: inline-flex;
  animation: scroll-reverse 30s linear infinite;
  will-change: transform;
}



